.list {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 402px;
}

.header {
  h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 8px;
  }
}

