.data {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.asteroid {
  margin-top: 24px;
  &_info {
    margin-top: 8px;
    display: flex;
  }
  &_name {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
  }
  &_mini {
    transform: scale(0.7);
  }
  &_descr {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
  }
  &_diameter {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  &_footer {
    margin-top: 8px;
    display: flex;
  }
}

.distance {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  img {
    margin-top: 4px;
  }
}
.mini_button {
  background-color: rgba(248, 102, 0, 0.15);
  color: #f86600;
  font-size: 11px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 1px;
  &_send {
    pointer-events: none;
  }
}
.danger {
  display: flex;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  pre {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #e3e5e5;
  }
}
.inBasket {
  color: #f5ded9;
}
