.header {
  padding: 16px;
  position: relative;
  z-index: 5;
}

.title {
  color: #f86600;
  font-family: Passion One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.descr {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
